$width-close-menu: 35px;
$padding-burger : 6px;

aside#clock-settings{
  background: rgba($black, .8);
  position: absolute;
  width: $width-app;
  height: $height-app;
  inset: 0;
  transform: translateX(-1 * $width-app + $width-close-menu);
}
